.file-uploader-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    /* justify-content: center; */
    height: 100vh;
}

.upload-section {
    border-right: 1px solid #E4E7EB;
    margin: 3rem;
}

.upload-button {
    display: inline-block;
    background-color: #705CF5;
    color: #fff;
    border-radius: 5rem;
    padding: 1rem 1.75rem;
    border-radius: 0.5rem;
    font-weight: medium;
    transition: 0.3s;
    text-decoration: none;
  }

  input[type="file"] {
    display: none;
}